/* {% load static %} */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 1000px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 3px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    position: relative;
    right: 500px;
    
}

input:focus {
    border-color: #2575fc;
    outline: none;
}

button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    position: relative;
    right: 500px;
}

button:hover {
    background-color: #1a5ed9;
}

.result {
    margin-top: 1000px;
    font-size: 100px;
    color: black;
    font-weight: bold;
    /* margin-left: 100px; */
}